/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

footer {
    float: center;
    font-style: bold;
}

/*#home-p {

}*/

body {
    font-family: 'Oxygen', sans-serif;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav li {
    height: 60px;
    padding-top: 15px;

}

nav {
    background-color: rgb(80, 83, 84);
    height: 60px;
}

a:link {
    text-decoration: none;
    font-weight: bold;
    color: rgb(168, 168, 168);
} 

a:visited {
    text-decoration: none;
    font-weight: bold;
    color: rgb(168, 168, 168);
} 
a:hover   {
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
} 
a:active  {
    text-decoration: none;
    font-weight: bold;
    color: rgb(168, 168, 168);
}
img {
    vertical-align: middle;
}
#contact {
    width: 1150px;
    margin: 50px auto;
    display: flex;
}

#map {
    text-align: left;
}

#contact ul {
    list-style-type: none;
    margin: auto;

}

#contact img:hover {
    cursor: pointer;
    opacity: .3;
}
/*Table Settings*/
/*#table-head {
    background-color: gray;
    color: white;
}*/

#table-body {
    text-decoration-style: bold;
}

#table-head, #table-body {
    padding: 15px;
}

table {
    border-spacing: 5px;
}
