/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

footer {
    float: center;
    font-style: bold;
}

body {
    font-family: 'Oxygen', sans-serif;
    text-align: center;
}

li img {
    vertical-align: middle;
}
#home-p {
    width: 1080px;
    margin:  20px auto;
    font-weight: bold;
}

#logo{
    height: 80px;
    width: 80px;
    margin-left: 10px;
}


nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav li {
    height: 60px;
    padding-top: 15px;

}

nav {
    background-color: rgb(80, 83, 84);
    height: 50px;
}

a:link {
    text-decoration: none;
    font-weight: bold;
    color: rgb(168, 168, 168);
} 

a:visited {
    text-decoration: none;
    font-weight: bold;
    color: rgb(168, 168, 168);
} 
a:hover   {
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
} 
a:active  {
    text-decoration: none;
    font-weight: bold;
    color: rgb(168, 168, 168);
}

#title {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#contact {
    width: 1150px;
    margin: 50px auto;
    display: flex;
}

#map {
    text-align: left;
}

#contact ul {
    list-style-type: none;
    margin: auto;

}

#contact img:hover {
    cursor: pointer;
    opacity: .3;
}


/*Table Settings*/
table {
    border-spacing: 5px;
    margin: 0 auto;
}

th, td {
    border: 1px solid black;
}

th {
    background-color: #333334;
    height: 50px;
    width: 150px;
    color: white;
    vertical-align: middle;
}

td {
    background-color: #F2F2F2;
    vertical-align: middle;
    width: 500px;
}

tr:hover{
    font-size: 1.2em;
    height: 55px;
    widht: 155px;
}

#specs-table {
    margin: 10px 0px;
}

#specs-title {
    font-size: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
}
/* About settigns */
#canvas {

}

#battery-life{
    font-size: 45px;
    padding-bottom: 5px;
}
#container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
}

#hours {
    display: none;
}
